@page
@model TriviaSpark.Web.Pages.MatchAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Match[0].MatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match[0].MatchMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Match) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MatchId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MatchId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
