@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Match.MatchName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Match.MatchName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Match.MatchMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Match.MatchMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Match.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Match.User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Match?.MatchId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>



<div>
    <h4>ScoreCard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Match.ScoreCard.CorrectAnswers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Match.ScoreCard.CorrectAnswers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Match.ScoreCard.PercentCorrect)
        </dt>
        <dd class="col-sm-10">
            @Model.Match.ScoreCard.PercentCorrect.ToString("P0")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Match.ScoreCard.AdjustedScore)
        </dt>
        <dd class="col-sm-10">
            @Model.Match.ScoreCard.AdjustedScore.ToString("P0")
        </dd>
    </dl>
</div>

<dl>
    @foreach (var q in Model.Match.MatchQuestions.Items)
    {
        <dt>@Html.Raw(q.QuestionText)</dt>
        <dd>
            @foreach (var a in q.Answers)
            {
                <ul>
                    @if (Model.Match.MatchQuestionAnswers.Where(w => w.QuestionId == a.QuestionId && w.AnswerId == a.AnswerId).Any())
                    {
                        <li>
                            <strong>Answer</strong>
                            @if (a.IsCorrect)
                            {
                                <span style="color:green">@Html.Raw(a.AnswerText)</span>
                            }
                            else
                            {
                                <span style="color:red">@Html.Raw(a.AnswerText)</span>
                            }
                        </li>
                    }
                </ul>
            }

        </dd>
    }
</dl>